Email to Google Sheets Logger.json
{
  "name": "Email to Google Sheets Logger",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "4f6de3b2-a2af-4940-b523-9a48aeaffbe7",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "TynUIMqoKDoNIiU1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8665618f-e911-4e53-8232-e10e2ab0bdee",
              "name": "internalDate",
              "value": "={{ $json.internalDate }}",
              "type": "string"
            },
            {
              "id": "a7f3c561-6879-4848-aecf-6b8b1541c865",
              "name": "From",
              "value": "={{ $json.From }}",
              "type": "string"
            },
            {
              "id": "f724918c-d6ec-416b-a9d4-9b4c3d1ee56f",
              "name": "Subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "fb39d473-0637-4344-b849-fb2b4b37a500",
              "name": "snippet",
              "value": "={{ $json.snippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "c1cdff7d-1bad-42c6-a56c-64462588ae99",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XWpoohdVggqkEwO71FQHul8EutABnrE8jEMwm01ZolY",
          "mode": "list",
          "cachedResultName": "Email Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XWpoohdVggqkEwO71FQHul8EutABnrE8jEMwm01ZolY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XWpoohdVggqkEwO71FQHul8EutABnrE8jEMwm01ZolY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ new Date(Number($('Gmail Trigger').item.json.internalDate)).toLocaleString('id-ID', { \n  day: '2-digit',\n  month: 'short',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n}) }}\n",
            "From": "={{ $('Gmail Trigger').item.json.From }}",
            "Subject": "={{ $('Gmail Trigger').item.json.Subject }}",
            "Body": "={{ $('Gmail Trigger').item.json.snippet }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Body",
              "displayName": "Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "f3f7883f-4c78-4490-ae08-9edda61a36c8",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IGh2caTpF1fSJ6od",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "cf3a14e4-1d28-4120-9b90-844418ff8a3a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ea818ed27e80d1f96ce51e76dd5b8d9538de3144aa5c0a44aacc90d1d31c2dd6"
  },
  "id": "SYdMnCixXCE4yqlmDjxXz",
  "tags": []
}